body {
    font-weight: 700;
    font-size: 1.25em;
    text-shadow: grey 1px 1px;
    overflow-x: hidden !important;
}

.titleBox {
    max-width: 90svw;
    min-width: 80svw;

    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);

}

/*Fonts*/


@font-face {
    font-family: Fusion Pixel Eight Proportional;
    src: url("./fusion-pixel-8px-proportional-zh_hans.otf");
}


.bigTitle {
    text-align: center;
    font-size: max(4.125rem, min(1.3333vw + 2rem, 18rem));
    font-weight: 600;
    font-family: "Fusion Pixel Eight Proportional";
}

.contentBox {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    border: 2px solid #c9c9c9;
    box-shadow: 0.2px 7.5px 10px rgb(0, 0, 0);

    margin-top: 20px;
    color: white;
    padding: 15px;
}

@media (max-width: 767px) {
    .contentBox {
        padding: 25px;
        margin: 5px;
        font-size: medium;
    }
}

blockquote {

    background: white;
    border: black solid;
    border-left: 3px solid #00CC8F;
    color: #1a1a1a;
    font-family: 'LXGW WenKai', Georgia, Times, "Times New Roman", serif;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1.8em;
    margin: 1.1em -4em;
    padding: 1em 2em;
    position: relative;
    transition: .2s border ease-in-out;
    z-index: 0;
}

blockquote:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    height: 2em;
    background-color: #fff;
    width: 5px;
    margin-top: -1em;
}

blockquote:after {
    content: "\f35f";
    position: absolute;
    top: 50%;
    left: -0.5em;
    color: #00CC8F;
    font-family: "Ionicons";
    font-style: normal;
    line-height: 1em;
    text-align: center;
    text-indent: -2px;
    width: 1em;
    margin-top: -0.5em;
    transition: .2s all ease-in-out, .4s transform ease-in-out;
}

blockquote.format:before,
blockquote.format:after {
    display: none;
}

blockquote.book:after {
    content: "\f12e";
}

blockquote.podcast:after {
    content: "\f32d";
}

blockquote.lyrics:after {
    content: "\f333";
}

blockquote.favorite:after {
    content: "\f384";
}

blockquote:active:after {
    transform: rotateY(360deg);
}

blockquote cite {
    display: block;
    font-size: 0.75em;
    line-height: 1.8em;
    margin-top: 1em;
}

.bgDiv {
    background: url(../img/Escherian.jpg) no-repeat;
    background-size: 100% 100%;
    width: 102svw;
    height: 100svh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    z-index: -1;
    margin: -15px;
}

#superLargeCounter {
    width: 100svw;
    height: 80svh;
    position: fixed;
    z-index: 999;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important
}

#realCounter {
    display: none;
    margin-right: auto !important;
    margin-left: auto !important;
    font-family: sans-serif;
    color: bisque;
    opacity: 0.7;
    font-size: max(4.125rem,min(9.3333vw + 2rem,18rem));
}